<!-- Component: Header Site Search | Type: Header Fragment | Version: 1.0.0 -->
<header class="c-header c-header-sitesearch">
    <div class="header-logo">Switch<span class="emphasis">board</span></div>
    <div class="c-header-sitesearch__search">
        <input type="text" class="c-header-sitesearch__input" placeholder="Search the library...">
    </div>
    <div class="c-header-settings__actions" style="justify-content: flex-end">
        <button class="c-header-settings__btn">Sign In</button>
    </div>
</header>
