<!-- Component Name: Template Standard - Cards | Type: Body Component | Version: 1.0.3 -->


<div class="c-cards" container-type="inline-size">
    <div class="content-card">
                <div>Body Paragraph Section</div>
            </div>

            <div class="card-feed-section">
                <div class="content-card" style="margin-bottom: 0;">
                    <h3 class="card-feed-title">Card Title 1</h3>
                    <p class="card-feed-description">Card Description 1 content placeholder.</p>
                    <a href="#">Card Link 1</a>
                </div>
                
                <div class="content-card" style="margin-bottom: 0;">
                    <h3 class="card-feed-title">Card Title 2</h3>
                    <p class="card-feed-description">Card Description 2 content placeholder.</p>
                    <a href="#">Card Link 2</a>
                </div>
                
                <div class="content-card" style="margin-bottom: 0;">
                    <h3 class="card-feed-title">Card Title 3</h3>
                    <p class="card-feed-description">Card Description 3 content placeholder.</p>
                    <a href="#">Card Link 3</a>
                </div>
            </div>
</div>
