<!-- Component Name: Template Standard - File Directory | Type: Body Component | Version: 1.0.0 -->


<div class="c-file-directory" container-type="inline-size">
    <div class="content-card"><div>Available downloads for local MFDB instances and compiled binaries.</div></div>
<table class="dir-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div class="file-row"><span class="icon-type">📦</span> <b>switchboard-v1.3.0.zip</b></div></td>
            <td>Archive</td>
            <td>4.2 MB</td>
            <td>2026-05-08</td>
            <td><button class="btn-dl">Download</button></td>
        </tr>
        <tr>
            <td><div class="file-row"><span class="icon-type">📄</span> bejson-spec.pdf</div></td>
            <td>PDF</td>
            <td>1.1 MB</td>
            <td>2026-05-01</td>
            <td><button class="btn-dl">Download</button></td>
        </tr>
        <tr>
            <td><div class="file-row"><span class="icon-type">⚙️</span> patch-service.sh</div></td>
            <td>Shell</td>
            <td>12 KB</td>
            <td>2026-05-09</td>
            <td><button class="btn-dl">Download</button></td>
        </tr>
    </tbody>
</table>
</div>
