<!-- Component Name: Template Standard - Comment Thread | Type: Body Component | Version: 1.0.0 -->


<div class="c-comment-thread" container-type="inline-size">
    <div class="content-card"><div>Discussion context placeholder. Replace with a brief description of the topic being discussed.</div></div>
            <div class="comment-count">&#128172; 4 Comments</div>
            <div class="comment"><div class="comment-avatar">A</div><div class="comment-body"><div class="comment-header"><span class="comment-author">User Alpha</span><span class="comment-date">2 hours ago</span></div><div class="comment-text">Comment placeholder one. Replace with a substantive contribution to the discussion.</div><div class="comment-actions"><span class="comment-action">&#9650; 14 upvotes</span><span class="comment-action">Reply</span></div></div></div>
            <div class="comment reply"><div class="comment-avatar" style="background:#de2626;">B</div><div class="comment-body"><div class="comment-header"><span class="comment-author">User Beta</span><span class="comment-date">1 hour ago</span></div><div class="comment-text">Reply placeholder. Replace with a response to the comment above.</div><div class="comment-actions"><span class="comment-action">&#9650; 5 upvotes</span><span class="comment-action">Reply</span></div></div></div>
            <div class="comment"><div class="comment-avatar" style="background:#555;">G</div><div class="comment-body"><div class="comment-header"><span class="comment-author">User Gamma</span><span class="comment-date">45 min ago</span></div><div class="comment-text">Comment placeholder two. Replace with another independent contribution to the discussion thread.</div><div class="comment-actions"><span class="comment-action">&#9650; 8 upvotes</span><span class="comment-action">Reply</span></div></div></div>
            <div class="comment"><div class="comment-avatar" style="background:#444;">D</div><div class="comment-body"><div class="comment-header"><span class="comment-author">User Delta</span><span class="comment-date">10 min ago</span></div><div class="comment-text">Comment placeholder three. Replace with additional discussion content.</div><div class="comment-actions"><span class="comment-action">&#9650; 2 upvotes</span><span class="comment-action">Reply</span></div></div></div>
            <div style="margin-top:24px;">
                <div style="font-weight:600;margin-bottom:4px;">Leave a Comment</div>
                <textarea class="comment-box" placeholder="Write your comment here&#x2026;"></textarea>
                <button class="submit-btn">Post Comment</button>
            </div>
</div>
