<!-- Component: Background Job Monitor | Type: System Health | Version: 1.0.0 -->
<div class="c-job-monitor">
    <div class="job-item">
        <div class="job-info">
            <span class="job-name">CMS_Static_Build</span>
            <span class="job-status running">Running</span>
        </div>
        <div class="progress-bar"><div class="progress" style="width: 65%;"></div></div>
    </div>
    <div class="job-item">
        <div class="job-info">
            <span class="job-name">Archive_Deduplication</span>
            <span class="job-status success">Completed</span>
        </div>
    </div>
</div>
