<!-- Component: Sidebar Combo Master | Type: Sidebar Fragment | Version: 1.0.0 -->
<aside class="c-sidebar c-sidebar-combo">
    <div class="c-sidebar__top c-sidebar-combo__nav-zone">
        <div class="c-sidebar__section-title">Navigation</div>
        <nav class="c-sidebar__links">
            <a class="c-sidebar__link">Overview</a>
            <a class="c-sidebar__link">Architecture</a>
        </nav>
    </div>
    <div class="c-sidebar-combo__widget-zone">
        <div class="c-sidebar-combo__scaffold">WIDGET_ZONE_1</div>
        <div class="c-sidebar-combo__scaffold">WIDGET_ZONE_2</div>
    </div>
</aside>
